

form {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

form>* {
    margin: 10px 0;
}

img {
    width: 400px;
    background-color: #ccc;
    object-fit: cover;
}

input,
select {
    width: 60ch;
    background-color: beige;
    padding: 7px;
    border: gray 1px solid;
}

textarea {
    height: 30ch;
    max-width: 120ch;
    background-color: beige;
}